.head{
    padding: 15px 20px;
    box-sizing: border-box;
    height: 80px;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.content{
    min-height: 680px;
    background-color: #fff;
    padding: 20px ;
    margin-top: 20px;
}